*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/openCVLibrary342/build/
/openCVLibrary342/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/